GOOGLE_SERVICE_ACCOUNT_EMAIL=ifa-applications@your-google-cloud-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nREPLACE_WITH_SERVICE_ACCOUNT_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEETS_ID=your_google_sheets_id
GOOGLE_SHEET_NAME=Заявки
